
/* Add CSS style here */

body {
  text-align: center;
  font-family: 'Zilla Slab', serif;
  font-size: 30px;
}

#banner {
  font-size: 2em
}

#main-image {
  width: 40%;
  margin: 0 auto;
}

#main-image img {
  width: 100%;
  height: auto;
}

#password-content {
  padding: 50px;
  font-weight: bold;
  font-size: 80px;
}

#new-password-submit {
  width: 100px;
  height: 100px;
  margin: 10px;
}

#slider-max-word-length {
  width: 75%
}

#slider-max-password-length {
  width: 75%
}
