
/* Add CSS style here */

body {
  text-align: center;
  font-family: 'Zilla Slab', serif;
  font-size: 50px;
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/gplaypattern.png");
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.password-content {
  padding: 10px;
  font-weight: bolder;
  font-size: 1.25em;
}

.banner {
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 0px 10px 0px;
}

#main-image {
  width: 35%;
  margin: 0 auto;
}

#main-image img {
  width: 100%;
  height: auto;
}

#password-container {
  margin-top: 20px;
  margin-bottom: 130px;
}

#new-password-submit {
  width: 100px;
  height: 100px;
  margin: 10px;
}

#slider-max-word-length {
  width: 75%
}

#slider-max-password-length {
  width: 75%
}

/* Open source style for sliders. Credit to http://danielstern.ca/range.css/#/ */

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 12.3px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 25px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 2.8px solid #000000;
  height: 32px;
  width: 32px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 7.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 25px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 2.8px solid #000000;
  height: 32px;
  width: 32px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 7.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 50px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 50px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 2.8px solid #000000;
  height: 32px;
  width: 32px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  height: 7.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
