
/* Add CSS style here */

body {
  text-align: center;
  font-family: 'Zilla Slab', serif;
  font-size: 30px;
}

#main-image {
  width: 50%;
  margin: 0 auto;
  padding: 20px
}

#main-image img {
  width: 100%;
  height: auto;
}

#password-content {
  padding: 50px;
  font-weight: bold;
  font-size: 80px;
}
